.u-section-1 {
  min-height: 647px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-image-1 {
  min-height: 716px;
  background-image: url("images/grey_bg.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 239px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 10px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  text-transform: uppercase;
  font-weight: 300;
  margin: 26px 62px 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 239px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-2 {
  line-height: 2;
  margin: 0;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 239px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 10px;
}

.u-section-1 .u-text-3 {
  font-size: 3.75rem;
  text-transform: uppercase;
  font-weight: 300;
  width: 34px;
  margin: 36px auto 0;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 239px;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-text-4 {
  line-height: 2;
  margin: 0;
}

.u-section-1 .u-layout-cell-6 {
  min-height: 239px;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px 10px;
}

.u-section-1 .u-text-5 {
  font-size: 3.75rem;
  text-transform: uppercase;
  font-weight: 300;
  margin: 36px 62px 0;
}

.u-section-1 .u-layout-cell-7 {
  min-height: 239px;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px;
}

.u-section-1 .u-text-6 {
  line-height: 2;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 533px;
  }

  .u-section-1 .u-image-1 {
    min-height: 590px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 197px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 48px;
    margin-right: 48px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 197px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 197px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 177px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 197px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 48px;
    margin-right: 48px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 197px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 409px;
  }

  .u-section-1 .u-image-1 {
    min-height: 452px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 33px;
    margin-right: 33px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-text-3 {
    width: 26px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 33px;
    margin-right: 33px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 1788px;
  }

  .u-section-1 .u-image-1 {
    min-height: 925px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 1635px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: -1506px;
  }

  .u-section-1 .u-image-1 {
    min-height: 508px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-2 {
  min-height: 647px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-image-1 {
  min-height: 716px;
  background-image: url("images/grey_bg.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 239px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 10px;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  text-transform: uppercase;
  font-weight: 300;
  margin: 26px 62px 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 239px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  line-height: 2;
  margin: 0;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 239px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 10px;
}

.u-section-2 .u-text-3 {
  font-size: 3.75rem;
  text-transform: uppercase;
  font-weight: 300;
  width: 34px;
  margin: 36px auto 0;
}

.u-section-2 .u-layout-cell-5 {
  min-height: 239px;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-text-4 {
  line-height: 2;
  margin: 0;
}

.u-section-2 .u-layout-cell-6 {
  min-height: 239px;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px 10px;
}

.u-section-2 .u-text-5 {
  font-size: 3.75rem;
  text-transform: uppercase;
  font-weight: 300;
  width: 34px;
  margin: 36px auto 0;
}

.u-section-2 .u-layout-cell-7 {
  min-height: 239px;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px;
}

.u-section-2 .u-text-6 {
  line-height: 2;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-2 {
    min-height: 533px;
  }

  .u-section-2 .u-image-1 {
    min-height: 590px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 197px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 48px;
    margin-right: 48px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 197px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 197px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 177px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 197px;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 197px;
  }
}

@media (max-width: 991px) {
  .u-section-2 {
    min-height: 409px;
  }

  .u-section-2 .u-image-1 {
    min-height: 452px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 33px;
    margin-right: 33px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-text-3 {
    width: 26px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 {
    min-height: 1788px;
  }

  .u-section-2 .u-image-1 {
    min-height: 925px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 {
    min-height: 1635px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: -1506px;
  }

  .u-section-2 .u-image-1 {
    min-height: 508px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-3 {
  min-height: 647px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-image-1 {
  min-height: 716px;
  background-image: url("images/grey_bg.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 239px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 10px;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  text-transform: uppercase;
  font-weight: 300;
  width: 34px;
  margin: 26px auto 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 239px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-2 {
  line-height: 2;
  margin: 0;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 239px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px 10px;
}

.u-section-3 .u-text-3 {
  font-size: 3.75rem;
  text-transform: uppercase;
  font-weight: 300;
  width: 34px;
  margin: 36px auto 0;
}

.u-section-3 .u-layout-cell-5 {
  min-height: 239px;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-text-4 {
  line-height: 2;
  margin: 0;
}

.u-section-3 .u-layout-cell-6 {
  min-height: 239px;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px 10px;
}

.u-section-3 .u-text-5 {
  font-size: 3.75rem;
  text-transform: uppercase;
  font-weight: 300;
  width: 34px;
  margin: 36px auto 0;
}

.u-section-3 .u-layout-cell-7 {
  min-height: 239px;
}

.u-section-3 .u-container-layout-7 {
  padding: 30px;
}

.u-section-3 .u-text-6 {
  line-height: 2;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-3 {
    min-height: 533px;
  }

  .u-section-3 .u-image-1 {
    min-height: 590px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 197px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 197px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 197px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 177px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 197px;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 197px;
  }
}

@media (max-width: 991px) {
  .u-section-3 {
    min-height: 409px;
  }

  .u-section-3 .u-image-1 {
    min-height: 452px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-3 .u-text-3 {
    width: 26px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 {
    min-height: 1788px;
  }

  .u-section-3 .u-image-1 {
    min-height: 925px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 {
    min-height: 1635px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: -1506px;
  }

  .u-section-3 .u-image-1 {
    min-height: 508px;
  }
}.u-section-4 {
  min-height: 647px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-image-1 {
  min-height: 716px;
  background-image: url("images/grey_bg.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 239px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 10px;
}

.u-section-4 .u-text-1 {
  font-size: 3.75rem;
  text-transform: uppercase;
  font-weight: 300;
  width: 77px;
  margin: 26px auto 0;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 239px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-text-2 {
  line-height: 2;
  margin: 0;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 239px;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px 10px;
}

.u-section-4 .u-text-3 {
  font-size: 3.75rem;
  text-transform: uppercase;
  font-weight: 300;
  width: 71px;
  margin: 36px auto 0;
}

.u-section-4 .u-layout-cell-5 {
  min-height: 239px;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-text-4 {
  line-height: 2;
  margin: 0;
}

.u-section-4 .u-layout-cell-6 {
  min-height: 239px;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px 10px;
}

.u-section-4 .u-layout-cell-7 {
  min-height: 239px;
}

.u-section-4 .u-container-layout-7 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-4 {
    min-height: 533px;
  }

  .u-section-4 .u-image-1 {
    min-height: 590px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 197px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 197px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 197px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 177px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 197px;
  }

  .u-section-4 .u-layout-cell-7 {
    min-height: 197px;
  }
}

@media (max-width: 991px) {
  .u-section-4 {
    min-height: 409px;
  }

  .u-section-4 .u-image-1 {
    min-height: 452px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 151px;
  }

  .u-section-4 .u-layout-cell-7 {
    min-height: 151px;
  }
}

@media (max-width: 767px) {
  .u-section-4 {
    min-height: 1788px;
  }

  .u-section-4 .u-image-1 {
    min-height: 925px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 162px;
  }

  .u-section-4 .u-text-3 {
    width: 74px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 825px;
  }

  .u-section-4 .u-layout-cell-7 {
    min-height: 228px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 {
    min-height: 1635px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: -1506px;
  }

  .u-section-4 .u-image-1 {
    min-height: 508px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 126px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 519px;
  }

  .u-section-4 .u-layout-cell-7 {
    min-height: 144px;
  }
}