.u-section-1 {
  min-height: 822px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: 80px auto 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 505px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  text-transform: none;
  font-size: 2.25rem;
  font-weight: 700;
  margin: 17px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 28px 0 0;
}

.u-section-1 .u-btn-1 {
  padding: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 505px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 20px;
}

.u-section-1 .u-form-1 {
  height: 136px;
  width: 587px;
  margin: 61px 0 0;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-input-1 {
  font-size: 1.125rem;
  text-transform: none;
}

.u-section-1 .u-btn-2 {
  font-size: 1.125rem;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: normal;
}

.u-section-1 .u-image-1 {
  height: 237px;
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 416px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 416px;
  }

  .u-section-1 .u-form-1 {
    width: 477px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 89px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-form-1 {
    width: 356px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 134px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 1287px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    height: 317px;
    margin-top: 326px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 1247px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-top: 40px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-form-1 {
    width: 320px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 300px;
  }
}